<script style="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
<%= render 'shared/flash_messages' %>
<%= form_for(@feedback) do |f| %>
    <table style="border: none;" cellspacing="5px">
      <tr>
        <td colspan="2">
          <% if @feedback.errors.any? %>
              <div id="error_explanation" style="margin-left: 10px">
                <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being sent:</h2>

                <ul>
                  <% @feedback.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          From
        </td>
        <td>
          <%= f.text_field :from, :style => 'width:890px' %>
        </td>
      </tr>

      <tr>
        <td>
          Subject
        </td>
        <td>
          <%= f.text_field :subject, :style => 'width:890px' %>
        </td>
      </tr>

      <tr>
        <td colspan="2" style="margin-top:10px">
          <br/>
          <%= f.cktext_area :msg, :ckeditor => {:uiColor => '#323F8D', :toolbar => 'mini'} %>

        </td>
      </tr>

      <tr>
        <td colspan="2">
          <div class="g-recaptcha" data-sitekey="6LcAov4SAAAAAOZUFqgRvni2UMKgYLExxLH_kpoR">
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <div class="button-submit">
            <%= f.submit %>
          </div>
        </td>
      </tr>

    </table>
<% end %>