<script style="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>

<%= render 'shared/flash_messages' %>
<%= form_for(@feedback) do |f| %>
    <div>
      <% if @feedback.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being sent:</h2>

            <ul>
              <% @feedback.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>
    <div class="content">
      <p class="top">Send a copy to me</p>

      <p><%= f.text_field :from %></p>

      <p class="top">Subject ( <span>*</span> )</p>

      <p><%= f.text_field :subject %></p>

      <p class="top">Message ( <span>*</span> )</p>

      <p><%= f.cktext_area :msg, :ckeditor => {:uiColor => '#323F8D', :toolbar => 'mini'} %></p>

      <p class="top">Anti-spam ( <span>*</span> )</p>

      <p><%= recaptcha_tags  %></p>

      <p class="top"><div class="button-submit"><%= f.submit %></div></p>
    </div>
<% end %>
