<script style="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
<%= render 'shared/flash_messages' %>
<%= form_for(@feedback) do |f| %>
    <div class="root">
      <% if @feedback.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being sent:</h2>

            <ul>
              <% @feedback.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="topbar">
        <div class="right">
          <div id="respond" class="comment-respond">
            <!-- hthngoc - align left -->
            <p class="comment-form-email">
              <label for="email">From</label>
              <%= f.text_field :cc %>
            </p>

            <p class="comment-form-email">
              <label for="url">Subject</label>
              <%= f.text_field :subject %>
            </p>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="field">
          <%= f.cktext_area :msg, :ckeditor => {:uiColor => '#323F8D', :toolbar => 'mini'} %>
        </div>
      </div>
      <!-- hthngoc - captcha -->
      <div class="g-recaptcha" data-sitekey="6LcAov4SAAAAAOZUFqgRvni2UMKgYLExxLH_kpoR">
      </div>
      <!-- end hthngoc -->
      <div class="button-submit">
        <%= f.submit %>
      </div>

    </div>

<% end %>
