<!DOCTYPE html>
<html>
<head>
  <title>Pioneer Feedback</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='header'>
  <div style="float: left">
    <%= link_to root_url, "data-no-turbolink" => true do %>
        <%= image_tag 'delivering.gif', class: 'logo' %>
    <% end %>
  </div>
  <div style="float: right" id='innovate'>
    <%= image_tag 'wallemlogo.gif' %>
  </div>
  <div style="clear: both" class="separate"></div>
</div>

<%= yield %>

</body>
</html>
