<!DOCTYPE html>
<html>
<head>
  <title>Sillyapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='header'>
  <%= image_tag 'wallemlogo.gif' , class: 'logo'%>
  <div id='innovate'>
    <%= image_tag 'innovation.png' %>
  </div>
  <div class="separate"></div>
</div>

<%= yield %>

</body>
</html>
